body{
    margin: 0px;
    background-size:cover;
    background-image: url('../img/back_img.jpg');
    /* background-image: url('../img/back_img2.jpg'); */
    /* background-image: url('../img/back_img3.jpg'); */
}

.layout-wrapper{
    font-family: "SUIT-Regular", "GongGothicMedium", "KOHIBaeumOTF", 'Pretendard-Regular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.layout-topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 60px;
    transition: width 0.2s;
    display: flex;
    color: #515C66;
    /* background-color: #FDFEFF; */
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f;
}

.layout-topbar .layout-topbar-start {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    position: relative;
    width: 25rem;
}

.layout-topbar .layout-topbar-mid {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
}

.layout-topbar .layout-topbar-end {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: end;
    padding: 0 2rem
}

.layout-sidebar{ 
    background-color : rgb(255 252 252 / 60%);
    border-radius: 20px;
    opacity: 0.8;
    overflow: auto; 
    box-shadow: 0 2px 12px #0000000f; 
    position: fixed;
    margin: 5rem 0 0 1rem;
    top: 0;
    left: 0;
    width: 16rem;
}

.layout-content-wrapper{
    margin: 5rem 1rem 0 18rem;
    border-radius: 20px;
    min-height: 89vh; 
    display:flex; 
    flex-direction: column;
    background-color: rgb(255 252 252 / 60%);
    position: fixed;
    width: -webkit-fill-available;
}
.block-action{
    text-decoration-line: none;
    font-weight: 500;
    color: var(--gray-600);
    border : 1px solid black;
    margin-right: 1rem;
    padding: 0.3rem;
    border-radius: 4px;
    border-color: var(--primary-btn-color);
    color: var(--primary-btn-color);
}

:root{
    --primary-btn-color: #6366f1;
    --primary-menu-color : #757575;
}

a {text-decoration-line: none;}



@font-face {
    font-family: "SUIT-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GongGothicMedium";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "KOHIBaeumOTF";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}